<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <title>Furqan Alfath</title>
<link href="{{ 'assets/css/style.css' | relative_url }}" rel="stylesheet">

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
      </div>
    </main>
   
   <!-- Codeforce -->
<div id="codeforce">
<div id="header">Hi, my name is <b>Furqan Alfath</b>. </br>
  This website is the list problem that I solved from <a href="https://codeforces.com/problemset?order=BY_RATING_ASC">Codeforce</a>

  <div id="solved"></div>
</div>
</div>

<script>
//API
// Create a request variable and assign a new XMLHttpRequest object to it.
var request = new XMLHttpRequest()

// Open a new connection, using the GET request on the URL endpoint
//request.open('GET', 'https://codeforces.com/api/contest.hacks?contestId=566&apiKey=ed397bd636890f0eac77f2c0f86c3753ed3d3684&time=1651574125&apiSig=123456sha512Hex(123456/contest.hacks?apiKey=ed397bd636890f0eac77f2c0f86c3753ed3d3684&contestId=566&time=1651574125#e9b69ec9e71ba0d7a15272387c707817b8d6d031)', true)
request.open("GET", "https://codeforces.com/api/user.status?handle=furqanalfath", true)



request.onload = function () {
  // Begin accessing JSON data here
var data = JSON.parse(this.response)
//console.log(data)

//get data from codeforce
var cf_id = []
var cf_contestid = []
var cf_index = []
var cf_problem =[]
var cf_language = []
var cf_verdict = []
var cf_date = []
var solved = 0

for (let i = 0; i < data.result.length - 1; i++) {
  cf_id[i] = data.result[i].id
  cf_contestid[i] = data.result[i].contestId
  cf_index[i] = data.result[i].problem.index
  cf_problem[i] = data.result[i].problem.name
  cf_language[i] = data.result[i].programmingLanguage
  cf_verdict[i] = data.result[i].verdict
  cf_date[i] = data.result[i].creationTimeSeconds
  
    if (cf_verdict[i] == 'OK') {
      solved++;
  }
}

// HTML
let table = document.createElement('table');
let thead = document.createElement('thead');
let tbody = document.createElement('tbody');

table.appendChild(thead);
table.appendChild(tbody);

// Adding the entire table to the body tag
document.getElementById('codeforce').appendChild(table);

let row_1 = document.createElement('tr');
let heading_1 = document.createElement('th');
heading_1.innerHTML = "No.";
let heading_2 = document.createElement('th');
heading_2.innerHTML = "Problem";
let heading_3 = document.createElement('th');
heading_3.innerHTML = "Language";
let heading_4 = document.createElement('th');
heading_4.innerHTML = "Submission Code";
let heading_5 = document.createElement('th');
heading_5.innerHTML = "Status"
let heading_6 = document.createElement('th');
heading_6.innerHTML = "Date of Submission"


row_1.appendChild(heading_1);
row_1.appendChild(heading_2);
row_1.appendChild(heading_3);
row_1.appendChild(heading_4);
row_1.appendChild(heading_5);
row_1.appendChild(heading_6);
thead.appendChild(row_1);

var cf_tr = []
var cf_td_num = []
var cf_td_id = []
var cf_td_id_td = []
var cf_td_problem = []
var cf_td_problem_td = []
var cf_td_language = []
var cf_td_verdict = []
var cf_td_date = []

var a = []

for (let i = 0; i < 20; i++) {
  cf_tr[i] = document.createElement('tr')
  

    cf_td_num[i] = document.createElement('td')
    cf_td_num[i].innerHTML = i+1;

    cf_td_problem_td[i] = document.createElement('td')
    cf_td_problem[i] = document.createElement('a')
    cf_td_problem[i].appendChild(document.createTextNode(cf_problem[i]))
    cf_td_problem[i].href = "https://codeforces.com/contest/" + cf_contestid[i] + "/problem/" + cf_index[i]
    cf_td_problem_td[i].appendChild(cf_td_problem[i])
    
    cf_td_language[i] = document.createElement('td')
    cf_td_language[i].innerHTML = cf_language[i];


    cf_td_id_td[i] = document.createElement('td')
    cf_td_id[i] = document.createElement('a')
    cf_td_id[i].appendChild(document.createTextNode(cf_id[i]))
    cf_td_id[i].href = "https://codeforces.com/contest/" + cf_contestid[i] + "/submission/" + cf_id[i]
    cf_td_id_td[i].appendChild(cf_td_id[i])

    cf_td_verdict[i] = document.createElement('td')
    cf_td_verdict[i].innerHTML = cf_verdict[i]

    cf_td_date[i] = document.createElement('td')
    cf_td_date[i].innerHTML = new Date(cf_date[i] * 1000).toDateString() // submission date

    cf_tr[i].appendChild(cf_td_num[i])
    cf_tr[i].appendChild(cf_td_problem_td[i])
    cf_tr[i].appendChild(cf_td_language[i])
    cf_tr[i].appendChild(cf_td_id_td[i])
    cf_tr[i].appendChild(cf_td_verdict[i])
    cf_tr[i].appendChild(cf_td_date[i])

    tbody.appendChild(cf_tr[i])
}

  var solve
solve = document.getElementById("solved")
solve.innerHTML = "<b>" + solved + "</b>" + " solved problem"

}
// Send request
request.send()

</script>

  </body>

</html>
